.leftTop{
	position: absolute;
    top: 0;
    right: 7px;
    display: none;
}
.content{
    position: relative;
    width: 80%;
    left: 15%;
    top: 5%;
    height: calc(90% - 33px);
	overflow-x: hidden;
}
body{
	margin: 0px;
	overflow: hidden;
}
.markdown-html{
	overflow-x: hidden;
}
.content::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
.content::-webkit-scrollbar-thumb{
	border-radius: 5px;
    box-shadow: inset 0 0 5px #ccc;
    background: #ccc;
}
.content::-webkit-scrollbar-track{
	box-shadow: inset 0 0 5px #eee;
    border-radius: 0;
    background: #eee;
}
#titleList{
	width: 80%;
	grid-template-columns: repeat(5, calc(100% / 5));/*行 repeat函数生成三个相同的值*/
	/*grid-template-rows: repeat(5, calc(100% / 5));*//*列*/
	display: grid;
	height: 33px;
    line-height: 33px;
    text-align: center;
}
.titleListItem{
	font-size: 20px;
	cursor: pointer;
}
#contentTitleList{    
	position: absolute;
    left: 0;
    top: 20%;
    width: 13%;
}
.contentTitleListItem{
    width: calc(100% - 20px);
    font-size: 20px;
    max-height: 33px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.titleListItem:hover{
	text-decoration-line: underline;
}
.contentTitleListItem:hover{
	text-decoration-line: underline;
}